@model IEnumerable<OverBevakningApp.Models.Robot>

@{
    ViewBag.Title = "Robotar";
}


<span style="color:#2C48A4"><h2>Robotar</h2></span>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


        <style>

            body {
                background-color: #E9F6FE;
            }
           

            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #cce6ff;
            }

            th {
                background-color: #67b4ff;
                color: white;
            }
        </style>

    </head>
    <body>

        @Html.ActionLink("Registrera ny robot", "Create", "RobotsLogsController", new { @class = "btn btn-primary" })

        <br>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RobId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Beskrivning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IntPuls)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RobId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beskrivning)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntPuls)
                    </td>
                    <td>
                        @Html.ActionLink("Redigera", "Edit", new { id = item.RobId }) |
                        @Html.ActionLink("Detaljer", "Details", new { id = item.RobId }) |
                        @Html.ActionLink("Ta bort", "Delete", new { id = item.RobId })
                    </td>
                </tr>
            }

        </table>
    </body>
</html>
