@model IEnumerable<OverBevakningApp.Models.RobotsLog>


@{
    ViewBag.Title = "Index";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #E6F8E0;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

    </style>

</head>
<body>


    @*<meta http-equiv="refresh" content="60">*@

    @using (Html.BeginForm("AddLogSearch", "RobotsLogs", FormMethod.Get))
    {
        <br />
        <p>
            Sök: @Html.TextBox("beskriv")
            <input type="submit" class="btn btn-success btn btn-outline-success btn-sm" value="Sök" />

        </p>
    }



    <table class="table">

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Rob.RobId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Rob.Beskrivning)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rob.RobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rob.Beskrivning)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)

                </td>
                <td>
                    @Html.ActionLink("Ta-bort", "Delete", new { id = item.Id })
                </td>
            </tr>

        }

    </table>

</body>
</html>

