@model OverBevakningApp.Models.RobotsLog

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort</h2>


<div>
    <h4>RobotsLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rob.Beskrivning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rob.Beskrivning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "AddLog", "RobotsController", new { @class = "btn btn-primary" })
        </div>
    }
</div>
