@model IEnumerable<OverBevakningApp.Models.RobotsLog>

@{
    ViewBag.Title = "Sena loggar";
}

<span style="color:#E86354"><h2>Sena loggar</h2></span>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


    <style>

        body {
            background-color: #FCF6F6;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffebe9;
        }

        th {
            background-color: #ff9c90;
            color: white;
        }
    </style>

</head>
<body>

    <table class="table">
        <br>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Rob.RobId)</th>
            <th>@Html.DisplayNameFor(model => model.Rob.Beskrivning)</th>
            <th>@Html.DisplayNameFor(model => model.TimeStamp)</th>
            <th><span> Försening </span></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rob.RobId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Rob.Beskrivning)
                </td>



                <td>
                    @if (item.TimeStamp == DateTime.MinValue)
                    {
                        @*<h5>Ny robot! Det finns ingen logg att visa.</h5>*@
                        @*@Html.DisplayName("Ny robot!Det finns ingen logg att visa.")*@
                        <text>Ny robot! Det finns ingen tidsstämpel att visa.</text>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    }
                </td>
                <td>
                    @if (item.TimeStamp == DateTime.MinValue)
                    {

                        <text>N/A</text>
                    }
                    else
                    {
                        var Duration = DateTime.Now - item.TimeStamp - TimeSpan.FromMinutes(item.Rob.IntPuls);
                    <span style="color:#FE2E2E"> @Duration.Days dagar, @Duration.Hours timmar, @Duration.Minutes minuter, @Duration.Seconds sekunder</span>
                    }

                </td>


            </tr>

        }
    </table>

</body>
</html>

